h1 {
    color: brown;
}

p {
    color: blueviolet;
    font-weight: bold;
    margin-top: 50px;
}

div.parent {
    color:aqua;
    &:hover{
        color: black;
    }
    .enfant {
        color: orange;
    }
}